<<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
      Happy Housing
    </title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet"><meta name="google-translate-customization" content="54509bc7c90e437e-12ece37080ca147e-g0efe3c93379edcae-1e">
    </meta>
    <style>
      #map-canvas { width: 500px; height: 400px; }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true">
                                                                                                                                                                                    
    </script>
  </head>
  
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Happy Housing</a>
               <div id="google_translate_element">
    </div>
    <script type="text/javascript" >
        function googleTranslateElementInit() { new google.translate.TranslateElement({pageLanguage:
        'en', includedLanguages: 'en,es,vi,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
        multilanguagePage: true}, 'google_translate_element'); }
      </script>
      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
      >
      </script>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#about">About</a>
            </li>
            <li>
              <a href="#contact">Contact</a>
            </li>
          </ul>
        </div>
        <!--/.navbar-collapse -->
      </div>
 
    </div>
    <!-- Main jumbotron for a primary marketing message or call to action
    -->
    <div class="jumbotron">
      <form action="{% url 'homeful:list' %}" method="get">
        {% csrf_token %}
        <div class="container">
          <h1>
            Happy Housing
          </h1>
        </div>
        <div class="form-group">
          <label>
            Zipcode
          </label>
          <input type="text" class="form-control" placeholder="98101" name="zipcode">
        </div>
        <div class="form-group">
          <label>
            Number of Rooms
          </label>
          <select class="form-control" name="rooms">
            <option value="0">
              Studio
            </option>
            <option value="1">
              1 Bedroom
            </option>
            <option value="2">
              2 Bedrooms
            </option>
            <option value="3">
              3 Bedrooms
            </option>
            <option value="4">
              4 Bedrooms
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>
            Price
          </label>
          <input type="text" class="form-control" placeholder="$" name="price">
        </div>
        <div>
          <a href="#" class="btn btn-default">Help</a>
        </div>
        <button type="submit" class="btn pull-right btn-lg btn-primary">
          Search!
        </button>
      </form>
    </div>
    <!-- /container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
    >
    </script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"
    >
    </script>
  </body>

</html>
</body>
</html>
